################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CommonSwCandidateTest/.vs/CommonSwCandidateTest/v16/Server/sqlite3
/CommonSwCandidateTest/bin
/CommonSwCandidateTest/debug
/CommonSwCandidateTest/.vs
.gitignore
hiararchical-Vyacheslav.csv